.project {
    width: 300px;
    background-color: #efecc0;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/

}

.imgContainer{
    width: 100%;
    height: 200px;
    /*background-color: #cbcbcb;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("https://st.depositphotos.com/1000122/2016/i/600/depositphotos_20163697-stock-photo-small-scottish-straight-kitten-walking.jpg");
    background-size: cover;
}


.projectInfo{
    border: 1px solid #c1b962;
    width: 100%;
}


.descriptionContainer{
    background-color: #efecc0;
    display: flex;
    flex-direction: column;
    align-items: start;

}
